/* 순서가중요 */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600&family=Yellowtail&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "./components/statusbar.css";
@import "./components/nav-bar.css";
@import "./components/notification.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/find.css";
@import "./components/openchat.css";
@import "./components/more.css";
/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";

body{
    display: flex;
    position: relative;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif; height: 1200vh;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}