#chat-screen {
    background-color: rgb(178, 204, 224);
    width: 100%;
}

#chat-status {
    background-color: rgb(178, 204, 224);
}

#chat-header {
    background-color: rgb(178, 204, 224);
}

.conv-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    width: 97%;
}

.conv-screen__date{
    padding: 10px 20px;
    width: fit-content;
    background-color: rgba(0,0,0,0.15);
    border-radius: 30px;
    color: white;
    margin-bottom: 30px;
}

.conv-screen__yourchat {
    display: flex;
    justify-items: left;
    margin-left: 40px;
    width:inherit;
}

.conv-screen__mychat {
    display: flex;
    width:inherit;
    justify-content: flex-end;
    box-sizing:border-box;
}


.conv-screen__yourimg {
    width: 60px;
    height: 60px;
    border-radius: 30%;
}

.conv-screen__yourname {
    margin-left: 10px;
    color: rgb(92, 92, 92);
}

.conv-screen__chattime {
    display: inline-block;
    align-self: flex-end;
    margin-left: 5px;
    color: rgb(92, 92, 92);
}


.conv-screen__yourbubble 
  {
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 20px;
    min-height: 20px;
    max-width: 220px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    z-index: 1;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;

  }
  
    .conv-screen__yourbubble ::before {
        content: '';
        top: 15px;
        left: -32px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 35px;
        height: 10px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: -25px 5px 0px 5px white;
        transform: scale(60%);
        transform: rotateY(180deg);
        z-index: -1;
    }

.conv-screen__mybubble 
  {
    position: relative;
    width: fit-content;
    height: fit-content;
    min-width: 20px;
    min-height: 20px;
    max-width: 220px;
    padding: 20px;
    background: var(--yellow);
    border-radius: 20px;
    z-index: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;

  }
  
    .conv-screen__mybubble ::before {
        content: '';
        top: 20px;
        right: -33px;
        position: absolute;
        border: 0px solid;
        display: block;
        width: 35px;
        height: 10px;
        background-color: transparent;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        box-shadow: -25px 5px 0px 5px var(--yellow);
        z-index: -1;

    }

    /* reply input form */

    .reply {
        display: flex;
        justify-content: space-between;
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 5px 25px;
        box-sizing: border-box;
        align-items: center;
        background-color: white;
    }

    .reply__column {
        width: 10%;
        color: var(--middlegray);
        font-size: 26px;
    }

    .reply__text {
        position: relative;
        width: 90%;
    }

    .reply__input {
        height: 50px;
        width: 100%;
        border: var(--grayborder);
        border-radius: 30px;
        padding: 5px 20px;
        box-sizing: border-box;
        font-size: 20px;
    }

    .reply__text:last-child i, button {
        position: absolute;
        right: 8px;
        top: 10px;
        font-size: 25px;
    }

    .reply__text:last-child > i {
        top: 16px;
        right: 60px;
        color: var(--middlegray);
    }

    .reply__text:last-child button {
        position: absolute;
        right: 6px;
        top: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgb(255, 203, 58);
        background-color: var(--yellow);;
    }

    .reply__text button:focus button:active {
        outline: none;
    }


