#friends-display-link {
    text-align: center;
    display: block;
    background-color: var(--lightgray);
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 100px;
    
}

.friends-screen {
    padding: 0px var(--horizontal-space);
    
}

.friends-screen :last-child {
    border-width: 0px;
}

.friends-screen__channel {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0,0,0,0.5);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgba(0,0,0,0.6);
}
    
.friends-screen__channel-massage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: rgba(0,0,0,0.6);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    position: fixed;
    background-color:var(--yellow);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    z-index: 10;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 1s;
}
