.badge {
    background-color: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    color: white;
    font-weight: 600;
}