.find-component {
    margin: 55px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
    justify-items: stretch;
}

.find-icon {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 22px;
    justify-content: center;
}

.find-img {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin-bottom: -10px;
}

.find-text {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 15px;
    align-items: center;
    text-align: center;
    line-height: 22px;
}

