/* 챌린지1 */
.notification{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 22px;
    transform: absolute;
    transform: translate(-5px, -25px);
}

.nav-notification{
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 22px;
    transform: absolute;
    transform: translate(6px, -30px);
}